{{>head}}

	<div class="hero">
	    <h1>Encuentra o crea un grupo para compartir lo que más te gusta</h1>
	    <a href="/crear-cuenta" class="btn btn-amarillo">Obtener Cuenta</a>
	</div>

	<div class="buscador-inicio">
	    <div class="contenedor">
	        <h2>Busca un grupo en tu ciudad</h2>

	        <form action="/busqueda" method="GET">
	            <select name="categoria">
                    <option value="" selected>-- Todas --</option>
                    {{#each categorias}}
                    	<option value="{{_id}}">{{nombre}}</option>
                    {{/each}}
	            </select>

	            <input type="text" name="titulo" placeholder="Titulo Meeti">
	            <input type="text" name="ciudad" placeholder="Ciudad">
	            <select name="pais">
	                <option value="" selected>-- Todos --</option>
	                <option value="Mexico">México</option>
	                <option value="Colombia">Colombia</option>
	                <option value="Argentina">Argentina</option>
	                <option value="España">España</option>
	                <option value="USA">Estados Unidos</option>
	                <option value="Peru">Perú</option>
	            </select>
	            <input type="submit" value="Buscar" class="btn btn-rosa">
	        </form>
	    </div>
	</div>

	<div class="contenedor">
	    <h2>Próximos Meeti's</h2>
	    <div class="grid columnas-md-3 ">
	    	{{#if meetiProximos.length}}
    		    {{#each meetiProximos}}
                	<div class="card">
                		{{#if imgGrupo}}
							<img src="/uploads/grupos/{{imgGrupo}}">

							{{else}}
								<p>No hay imagen del grupo</p>
						{{/if}}

                		<div class="card-texto">
                			<p class="fecha">
                				{{#fechas fecha}}
								{{/fechas}}
								{{hora}} Horas
							</p>

							<a href="/meeti/{{url}}">
								<h3>{{titulo}}</h3>
							</a>

							<div class="info-autor">
								{{#if usuarios.imagen}}
									<div class="imagen">
										<img src="/uploads/perfiles/{{usuarios.imagen}}">
									</div>

									{{else}}
										<div class="imagen"></div>
								{{/if}}

								<div class="informacion">
									<p>Organizado por:</p>
									<p class="autor">{{usuarios.nombre}}</p>
								</div>
							</div>
                		</div>
                	</div>	
                {{/each}}
	    	{{/if}}
	    </div>
	</div>

	<main class="bg-gris categorias">
	    <h2>Encuentra Grupos por Categoría</h2>

	    <div class="contenedor">
	        <ul class="listado-categorias  grid columnas-2 columnas-md-3">
	    	    {{#each categorias}}
	            	<li>
	                    <a href="/categoria/{{_id}}">
	                        <img src="/img/categoria_{{id}}.jpg" alt={{nombre}}>
	                        <p>{{nombre}}</p>
	                    </a>
	                </li>
	            {{/each}}
	        </ul>
	    </div>
	</main>

	<div class="meeti-bg">
	    <div class="contenedor meeti grid columnas-md-2">
	        <section>
	            <h3>Crea un grupo</h3>
	            <p>Comparte lo que te gusta o tu pasión con los demás, crea tu propio grupo hoy mismo sin costos</p>
	        </section>
	        <section>
	            <h3>Únete a un grupo</h3>
	            <p>Conoce personas con tus mismos gustos y pasiones, únete a un grupo ya existente y recibe notificaciones sobre próximos eventos</p>
	        </section>
	    </div>
	</div>

{{>footer}}